@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.poll {
  width: 400px;
  padding: 1.5rem;
  margin: 50px;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.poll-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.poll-item:hover {
  cursor: pointer;
}

.poll-item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.poll-item-selected .poll-item-fill {
  background: #009578;
}

.poll-item-selected .poll-item-info {
  font-weight: bold;
}

.poll-item-fill {
  width: 50%;
  height: 10px;
  background: #dddddd;
}

.poll-item-info {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: 0.85rem;
}
